<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <form method="post" class="form1">
        <div class="imgcontainer">
          <img src="image.jpg" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="email"><b>email</b></label>
          <input type="email" placeholder="Enter email" name="email" id="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw"  id="password" required>
      
          
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          
          <span class="psw">Forgot <a href="#">password?</a></span>
          <button type="submit" onclick="logIn()">Login</button>
          Don't you have an account<a href="../views/Registration.html">&nbsp;Register</a>
        </div>
      </form>
      <script src="../javascript/login.js"></script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <form  class="form1">
        <div class="imgcontainer">
          <img src="image.jpg" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter email" name="email" id="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw"  id="password" required>
      
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <span class="psw">Forgot <a href="../views/Resetpassword.html">password?</a></span>
          <button id="loginButton">Log In</button>
          Don't have an account? <a href="../views/Registration.html">&nbsp;Register</a>
        </div>
      </form>
      <script src="../javascript/login.js"></script>
</body>
</html>